


.header-container{
    /* border: 1px solid red; */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: rgba(48, 74, 62, 0.95);
    top: 0;
    width: 100%;
}


.mind-gym{
    width: 50%;
    /* background-color: aqua; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 180%;
    text-align: center;
    color: blanchedalmond;
}

.brain-icon{
    /* background-color: blue; */
    width: 10%;
}
#muscleBrain{
    width: 100%;
}
