

#registration_form{
    /* border: 1px solid purple; */
    display: none;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;

    
}
.form h1{
    color: #DAD7CD;
}
.form-inputs{
    display: flex;
    justify-content: center;
    /* border: 1px solid lightsalmon; */
    width: 80%;
    box-sizing: border-box;
    
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: space-between;
    margin-right: -10px;
    position: relative;
    /* border: 1px solid lightsalmon; */
}

.input-group{
    flex: 1;
    margin-right: 10px;
}

.form{
    padding: 20px;
    width: 80%;
    border: 3px solid #bb3e03;
    border-radius: 20px;
    background-color: rgba(87, 127, 87, 0.95);
    box-sizing: border-box;
    /* border: 1px solid lightsalmon; */
}

/* Styles for inputs and labels */
.inputs .input-group input[type=text],
.inputs .input-group input[type=date],
.inputs .input-group input[type=number],
.inputs .input-group input[type=email]{
    color: #DAD7CD;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    font-size: 19px;
    text-align: left;
    border: 1px solid #A3B18A;
    background-color: #577f57;
    
}
/* Styling label */
.inputs .input-group label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    color: #000000;
    font-size: larger;
    top: -10px;
    white-space: nowrap;
    text-align: left;
    padding: 0 5px;
    margin-left: 8px;
    pointer-events: none;
    background-color: #577f57;
}
.inputs .input-group input:focus{
    outline: none;
    border: 1px solid #83c216;
}

.inputs .input-group input[type="number"]::placeholder{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#A3B18A ;
}
/* End Styling for inputs */


/* Button Styles */
/* Task 3 */

.form-button{
    margin-top: 20px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    
}

.double-button button{
    width: 90%;
}
.double-button{
    /* border: 1px solid; */
    /* padding: 0; */
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 15%; /*Center this div(width is 70% so centering would take 15%)*/
}
.double-button .form-button:nth-child(2){
    display: flex;
    justify-content: right;
    width: 100%;
}
.double-button .form-button:nth-child(1){
    display: flex;
    justify-content: left;
    width: 100%;
}

#Register_Btn, #findPercentage_Btn{
    width: 70%;
}
#Register_Btn, #Start_Btn, #End_Btn, #findPercentage_Btn{
    height: 40px;
    /* background-color: #2e4439; */
    background-color: #2e4439;
    color: #DAD7CD;
    font-size: 20px;
    border: 1px solid #DAD7CD;
    border-radius: 9px;
    transition: background-color 0.6s;
    margin: 0;
    
}

#Register_Btn:hover, #Start_Btn:hover, #End_Btn:hover, #findPercentage_Btn:hover{
    cursor: pointer;
    background-color: #bb3e03;
    
}
/* Styling disabled buttons */
#Start_Btn:disabled, #Register_Btn:disabled, #End_Btn:disabled, #findPercentage_Btn:disabled{
    background-color: #8b8b8b;
    cursor: default;
}
/* END BUTTON STYLES */



/* Adding a little animation */

@keyframes float {
    0%, 100% {
        transform: translateY(0) translateX(0);
    }
    60% {
        transform: translateY(-70%) translateX(70%);
    }
    30% {
        transform: translateY(70%) translateX(-20%);
    }
    20% {
        transform: translateY(70%) translateX(70%);
    }
}

.symbol-container::before {
    content: url(equal-sign.png); /* You can customize the symbols */
    position: absolute;
    top: calc(80vh + 20px);
    left: calc(20vw + 20px);
    color: rgba(255, 255, 255, 0.3);
    font-size: 40px;
    animation: float 20s infinite;
    z-index: -1;
}

.symbol-container::after {
    content: url(multiply-sign.png); /* Add more symbols as needed */
    position: absolute;
    top: calc(40vh + 20px);
    left: calc(80vw + 20px);
    color: rgba(255, 255, 255, 0.3);
    font-size: 40px;
    animation: float 30s infinite;
    z-index: -1;
}

.symbol-containert::before {
    content: url(equal-sign.png);/* You can customize the symbols */
    position: absolute;
    top: calc(30vh + 20px);
    left: calc(60vw + 20px);
    color: rgba(255, 255, 255, 0.3);
    font-size: 40px;
    animation: float 20s infinite;
    z-index: -1;
}

.symbol-containert::after {
    content: url(equal-sign.png); /* You can customize the symbols */
    position: absolute;
    top: calc(10vh + 20px);
    left: calc(10vw + 20px);
    color: rgba(255, 255, 255, 0.3);
    font-size: 40px;
    animation: float 20s infinite;
    z-index: -1;
}

.symbol-containerth::before {
    content: url(multiply-sign.png); /* Basic math symbols */
    position: absolute;
    top: calc(20vh);
    left: calc(50vw - 20px);
    font-size: 40px;
    animation: float 20s infinite;
    z-index: -1;
}

.symbol-containerth::after {
    content: url(multiply-sign.png); /* More math symbols */
    position: absolute;
    top: calc(70vh);
    left: calc(80vw - 20px);
    color: rgba(255, 255, 255, 0.3);
    font-size: 40px;
    animation: float 20s infinite;
    z-index: -1;
}
/* END OF ANIMATION */


/* Task 17 - Adjusting for 2 different screen sizes */
@media (max-width: 768px) {
    #registration_form {
        width: 90%;
    }

    .form {
        width: 90%;
    }

    .inputs .input-group input[type=text],
    .inputs .input-group input[type=date],
    .inputs .input-group input[type=number],
    .inputs .input-group input[type=email] {
        /* Modify input styles for smaller screens */
        font-size: 16px;
        height: 35px;
    }

    .inputs .input-group label {
        font-size: smaller;
    }

    /* Adjust button styles */
    #Register_Btn,
    #Start_Btn,
    #End_Btn,
    #findPercentage_Btn {
        height: 35px;
        font-size: 16px;
    }
}

/* For even smaller screens like mobile devices */
@media (max-width: 480px) {
    #registration_form {
        width: 95%;
    }

    .form {
        width: 95%;
    }

    .inputs .input-group input[type=text],
    .inputs .input-group input[type=date],
    .inputs .input-group input[type=number],
    .inputs .input-group input[type=email] {
        font-size: 14px;
        height: 30px;
    }

    .inputs .input-group label {
        font-size: x-small;
    }
    #Register_Btn,
    #Start_Btn,
    #End_Btn,
    #findPercentage_Btn {
        height: 30px;
        font-size: 14px;
    }
}

